@media (width >= 600px) {

  .item {
    background: #e52f96;
    color: rgb(193, 24, 114);
    padding: 10px;
    flex-basis: 92%;
    max-width: 440px;
    margin: 5px;
  }

  h1, h2, h3 {
    color: var(--white);
  }  
  
  html{
    box-sizing: border-box;
  }
  
  *, *:before , *:after {
    box-sizing: inherit;
  }

  section { 
    display: flex;
    flex-wrap: wrap;
    padding-top: 300px 0;
    gap: 5px;
    justify-content: center;
  }
}

  

